/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  h1 {
    color: #007bff;
  }

  /* Styling the "About Me" section */
#about {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Responsive design for smaller screens */
@media (max-width: 768px) {
    body {
      font-size: 16px;
    }
  }
  
  /* Example: Styling the "Download CV" section */
#cv {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #cv a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  #cv a:hover {
    background-color: #0056b3;
  }
  
  /* Update styles for navigation buttons */
header {
  background-color: #333;
  padding: 10px 0;
  text-align: center;
}

nav {
  margin-top: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #a7a4a4;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  padding: 15px 20px;
  border: 2px solid #555;
  border-radius: 8px;
  transition: color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Highlight active link */
nav a.active,
nav a:hover {
  background-color: #555;
  color: #fff;
}

/* Add styles for social links */
.social-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.social-links li {
  margin-right: 20px;
}

.social-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border: 2px solid #555;
  border-radius: 8px;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.social-box img {
  width: 80%; /* Adjust the size of the logo */
}

/* Github */
.github {
  background-color: #ffffff;
}

/* LinkedIn */
.linkedin {
  background-color: #0077b5;
}

/* Add styles for email box */
.email {
  background-color: #ffffff; /* Adjust the background color for the email box */
  color: #fff; /* Adjust the text color for the email box */
  font-size: 32px; /* Adjust the font size for the email box */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border: 2px solid #555;
  border-radius: 8px;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

/* Add more styles for other social links as needed */
